/* 
    Created on : 23 mars 2022, 10:20:37
    Author     : bneveu
*/

body {
  font-family: sans-serif;
  font-size: 120%;
}

#div-button {
    text-align: center;
}

button {
    height: 60px;
    width: 180px;
    font-size: 100%;
}

.val {
    text-align: right;
}

table{
    width: 90%;
    margin: 5%;
}

td{
    width: 35%;
}

.unite{
    width: 20%;
}